.hero-bg, .hero-bg .parallax-bg {
    background-image: url("../../../webstatic/en_US/mktg/wright/buy_onthego/buy_onthego_hero_bg_1x.jpg");
}
.n1, .n1 .parallax-bg {
    background-image: url("../../../webstatic/en_US/mktg/wright/buy_onthego/buy_onthego_n1_1x.jpg");
}
.n2 {
    background-image: url("../../../webstatic/en_IN/mktg/wright/buy_onthego/buy_onthego_n2_1x.jpg");
}
.n3 {
    background-image: url("../../../webstatic/en_IN/mktg/wright/buy_onthego/buy_onthego_n3_1x.jpg");
}
.n4, .n4 .parallax-bg {
    background-image: url("../../../webstatic/en_US/mktg/wright/buy_onthego/buy_onthego_n4_1x.jpg");
}

.callout b {
	width: 100px;
}

