/* CSS for v2 of video player */

.video-player {
  position: relative;
  background: #000;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  cursor: pointer;
}

.video-player:after {
  background: transparent url("../../../webstatic/mktg/kb/play-overlay.png") center center no-repeat;
  content: "";
  overflow: hidden;
  width: 100%;
  height: 100%;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}
.video-player.loaded {
  cursor: auto;
}

.video-player.loaded:after {
  display: none;
  background-image: none;
}
.video-player a {
  cursor: pointer;
}
.video-player .video-controls {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 34px;
  width: 100%;
  background-color: #9191a9;
  background-color: rgba(245,245,245,0.3);
  
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate(0,0);
  transform: translate3d(0,0,0);

  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  -moz-transition: -moz-transform 0.4s ease-in-out;
  -ms-transition: -ms-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
}
.video-player.playing .video-controls.autohide {
  -webkit-transform: translate3d(0,34px,0);
  -moz-transform: translate3d(0,34px,0);
  -ms-transform: translate(0,34px);
  transform: translate3d(0,34px,0);
}
.video-player.playing:hover .video-controls.autohide {
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate(0,0);
  transform: translate3d(0,0,0);
}
.video-controls a.video-play {
  display: inline-block;
  width: 28px;
  height: 28px;
  margin-left: 15px;
  margin-right: 20px;
  margin-top: 5px;
  background-image: url('../../../webstatic/mktg/kb/play-pause-sprite.png');
  background-repeat: no-repeat;
  background-position: 0 -1px;
  z-index: auto;
  opacity: 0.7;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-out-in;
  -ms-transition: all 0.2s ease-out-in;
  transition: all 0.2s ease-in-out;
}
.video-player .video-controls a.paused-button {
  background-repeat: no-repeat;
  background-position: -29px -1px;
}
/* seek */
.video-player .video-seek {
  display: inline-block;
  position: relative;
  top: -12px;
  width: 520px;
  height: 8px;
  margin-top: 13px;
  border-radius: 15px;
  background: #535353;
  background: -moz-linear-gradient(top, rgba(186,186,186,1) 0%, rgba(222,222,226,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(186,186,186,1)), color-stop(100%,rgba(222,222,226,1)));
  background: -webkit-linear-gradient(top, rgba(186,186,186,1) 0%,rgba(222,222,226,1) 100%);
  background: -ms-linear-gradient(top, rgba(186,186,186,1) 0%,rgba(222,222,226,1) 100%);
  background: linear-gradient(to bottom, rgba(186,186,186,1) 0%,rgba(222,222,226,1) 100%);
  box-shadow: inset 0 -2px 2px #efefef;
}
.video-player .video-seek .ui-slider-handle {
  width: 10px;
  height: 20px;
  border: none;
  top: -6px;
  border-radius: 6px;
  box-shadow: inset 0 -2px 2px rgba(101,101,149,0.7);
  background: #e6e6e6;
  background: -moz-linear-gradient(top, rgba(230,230,230,1) 0%, rgba(213,213,213,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(230,230,230,1)), color-stop(100%,rgba(213,213,213,1)));
  background: -webkit-linear-gradient(top, rgba(230,230,230,1) 0%,rgba(213,213,213,1) 100%);
  background: -ms-linear-gradient(top, rgba(230,230,230,1) 0%,rgba(213,213,213,1) 100%);
  background: linear-gradient(to bottom, rgba(230,230,230,1) 0%,rgba(213,213,213,1) 100%);
}
.video-player .video-seek .ui-slider-handle.ui-state-hover {
  background: #fff;
}
.video-player .video-seek .ui-slider-loaded {
  display: block;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  border: 0 none;
  position: absolute;
  z-index: 1;
  border-radius: 6px;
  box-shadow: inset 0 2px 2px rgba(101,101,149,0.4);
  background: #c4c4c4;
  background: -moz-linear-gradient(top, rgba(206,206,206,1) 0%, rgba(173,173,173,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(206,206,206,1)), color-stop(100%,rgba(173,173,173,1)));
  background: -webkit-linear-gradient(top, rgba(206,206,206,1) 0%,rgba(173,173,173,1) 100%);
  background: -ms-linear-gradient(top, rgba(206,206,206,1) 0%,rgba(173,173,173,1) 100%);
  background: linear-gradient(to bottom, rgba(206,206,206,1) 0%,rgba(173,173,173,1) 100%);
}
.video-player .video-seek .ui-slider-range {
  border-radius: 15px;
  box-shadow: inset 0 -3px 3px rgba(57,162,206,0.7);
  background: #4cbae8;
  background: -moz-linear-gradient(top, rgba(76,186,232,1) 0%, rgba(57,162,206,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(76,186,232,1)), color-stop(100%,rgba(57,162,206,1)));
  background: -webkit-linear-gradient(top, rgba(76,186,232,1) 0%,rgba(57,162,206,1) 100%);
  background: -ms-linear-gradient(top, rgba(76,186,232,1) 0%,rgba(57,162,206,1) 100%);
  background: linear-gradient(to bottom, rgba(76,186,232,1) 0%,rgba(57,162,206,1) 100%);
  z-index: 2;
}
/* volume */
.video-player .video-controls .volume-box {
  position: absolute;
  bottom: 1px;
  right: 0px;
  overflow: hidden;
  width: 24px;
  height: 30px;
  color: #fff;
  padding: 0px 10px;
}
.video-player .video-controls .volume-box:hover {
  height: 135px;
  padding-top: 5px;
}
.video-player .video-controls .volume-box:hover .volume-slider {
  position: relative;
  visibility: visible;
  opacity: 1;
}
.video-player .video-controls .volume-slider {
  position: relative;
  height: 100px;
  width: 8px;
  top: 0;
  left: 0;
  visiblity: hidden;
  opacity: 0;
  border-radius: 4px;
  box-shadow: inset 0 3px 3px rgba(239,239,239,0.7);
  background: rgb(222,222,226);
  background: -moz-linear-gradient(top, rgba(222,222,226,1) 0%, rgba(186,186,186,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(222,222,226,1)), color-stop(100%,rgba(186,186,186,1)));
  background: -webkit-linear-gradient(top, rgba(222,222,226,1) 0%,rgba(186,186,186,1) 100%);
  background: -ms-linear-gradient(top, rgba(222,222,226,1) 0%,rgba(186,186,186,1) 100%);
  background: linear-gradient(to bottom, rgba(222,222,226,1) 0%,rgba(186,186,186,1) 100%);
  
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.video-player .video-controls .volume-slider .ui-slider-handle {
  width: 16px;
  height: 9px;
  left: -4px;
  margin-bottom: -0.6em;
  margin-left: 0;
  border-radius: 6px;
  box-shadow: inset 0 -2px 2px rgba(101,101,149,0.7);
  background: #e6e6e6;
  background: -moz-linear-gradient(top, rgba(230,230,230,1) 0%, rgba(213,213,213,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(230,230,230,1)), color-stop(100%,rgba(213,213,213,1)));
  background: -webkit-linear-gradient(top, rgba(230,230,230,1) 0%,rgba(213,213,213,1) 100%);
  background: -ms-linear-gradient(top, rgba(230,230,230,1) 0%,rgba(213,213,213,1) 100%);
  background: linear-gradient(to bottom, rgba(230,230,230,1) 0%,rgba(213,213,213,1) 100%);
}
.video-player .video-controls .volume-slider .ui-slider-handle .ui-state-hover {
  background: #fff;
}
.video-player .volume-slider .ui-slider-range {
  border-radius: 15px;
  box-shadow: inset -3px 0 3px rgba(76,186,232,0.7);
  background: #4cbae8;
  background: -moz-linear-gradient(top, rgba(76,186,232,1) 0%, rgba(57,162,206,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(76,186,232,1)), color-stop(100%,rgba(57,162,206,1)));
  background: -webkit-linear-gradient(top, rgba(76,186,232,1) 0%,rgba(57,162,206,1) 100%);
  background: -ms-linear-gradient(top, rgba(76,186,232,1) 0%,rgba(57,162,206,1) 100%);
  background: linear-gradient(to bottom, rgba(76,186,232,1) 0%,rgba(57,162,206,1) 100%);
}
/* volume button */
.video-player .video-controls .volume-button {
  position: absolute;
  bottom: 3px;
  right: 15px;
  display: block;
  width: 29px;
  height: 25px;
  border-radius: 2px;
  background-color: rgba(245,245,245,0.6);
  background-position: center center;
  background-image: url('../../../webstatic/mktg/kb/volumefull.png');
  background-image: -webkit-image-set(url("../../../webstatic/mktg/kb/volumefull.png") 1x, 
                                      url("../../../webstatic/mktg/kb/volumefull2x.png") 2x);
  background-size: 23px 23px;
  background-repeat: no-repeat;
}
.video-player .video-controls .volume-mute {
  background-image: url('../../../webstatic/mktg/kb/volumemute.png');
  background-image: -webkit-image-set(url("../../../webstatic/mktg/kb/volumemute.png") 1x, 
                                      url("../../../webstatic/mktg/kb/volumemute2x.png") 2x);
  background-size: 23px 23px;
  background-repreat: no-repeat;
}
.video-player .video-fullscreen {
  display: block;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 30px;
  height: 30px;
  background-color: rgba(245,245,245,0.6);
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("../../../webstatic/mktg/kb/fullscreen.png");
  background-image: -webkit-image-set(url("../../../webstatic/mktg/kb/fullscreen.png") 1x, 
                                      url("../../../webstatic/mktg/kb/fullscreen2x.png") 2x);
  background-size: 24px 24px;
  border-radius: 2px;
  overflow: hidden;
  text-indent: -999em;
  opacity: 0;
  
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -ms-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}
.video-player:hover .video-fullscreen {
  opacity: 1;
}
/* Disable in lightbox */
.ui-dialog .video-player .video-fullscreen {
  display: none;
}
.video-player.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  width: 100%;
  height: 100%;
}
.video-player.fullscreen .video-fullscreen {
  background-image: url("../../../webstatic/mktg/kb/shrink.png");
  background-image: -webkit-image-set(url("../../../webstatic/mktg/kb/shrink.png") 1x, 
                                      url("../../../webstatic/mktg/kb/shrink2x.png") 2x);
  background-size: 24px 24px;
}

/* inline jquery ui styles */
.ui-slider-handle {
  position: absolute;
  z-index: 2;
  display: block;
  margin-left: -0.6em;
  outline: none;
}
.ui-slider-range {
  display: block;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  border: 0 none;
  position: absolute;
  z-index: 1;
}
.video-modal .ui-dialog-content {
  padding-bottom: 1.5em;
}
/* accessibility fix */
.ui-dialog .ui-dialog-titlebar-close:focus {
    border: 1px dotted #999;
}

